.about-section {
  background: url("../Imgs/pexels-flat-hito-904350-removebg-preview.png");
  margin-left: -50px;
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: white;
  overflow: hidden;
  padding: 250px 0;
}
.inner-container {
  width: 800px;
  float: right;
  background-color: #2a3d45;
  padding: 150px;
}
.inner-container h1 {
  color: #e74c3c;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}
.text-about {
  font-size: 13px;
  color: #ebebeb;
  line-height: 20px;
  text-align: justify;
  margin-bottom: 40px;
}
