
/*----------product_page--------*/
.product_page .item {
	background: white;
	padding: 30px;
	border-radius: 5px;
	position: relative;
  }
  
  .product_page .left {
	text-align: center;
	margin-top: 20px;
  }
  
  .product_page h2 span {
	font-size: 25px;
  }
  
  .product_page .right img {
	width: 150px;
	position: absolute;
	top: 0;
	right: 0;
  }
  
  .product_page h4 {
	font-weight: 500;
	font-size: 18px;
	margin-top: 30px;
  }
  
  .product_page .time h3 {
	margin-right: 30px;
  }
  
  .product_page h3 {
	font-size: 18px;
	font-weight: 500;
	margin-top: 5px;
	margin-bottom: 30px;
  }
  
  .product_page h3 span {
	font-size: 14px;
	color: grey;
  }
  
  .product_page .btn {
	margin-left: 10px;
  }
  
  button {
	background: #E94560;
	border: none;
	outline: none;
	padding: 13px 20px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
  }
  
  /*----------product_page--------*/
  