.animate_logo {
    cursor: pointer;
    animation: movedown 1s linear ;
    
}
@keyframes movedown {
    0% {
        transform: translateY(-100px);   
    }
    100% {
        transform: translateY(0);
    }
}
.animation_nav {
    cursor: pointer;
    animation: movedown 1.5s linear ;
}